html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:black;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: lighter;
}
/**** Menu beginning ****/
.current {
    border-style: solid;
    border-color:seashell;   
}
header {
    width: 100%;
    height: 42vh;
    background: url(road.jpeg) no-repeat 50% 50%;
    background-size: cover;
}
.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
        z-index: 10;
        
}
nav ul {
    line-height: 40px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}
nav.black ul {
    background-color: black;
}
nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}
nav ul li a {
    text-decoration: none;
    color:seashell;
    font-size: 16px;   
}
/**** Menu ending ****/

/**** Homepage beginning ****/
.contentIndex {
    width: 60%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color:white;
}
/**** Homepage ending ****/


/**** Portfolio beginning ****/
#imgGame{
    margin-left:auto;
    margin-right: auto;
    display: block; 
    }
    #textDescription{
        color: #fff;
        text-align: center;
        }
        #slideshowbutton{
            height:20px; 
            width:100px; 
            margin: -20px -50px; 
            position:relative;
            top:50%; 
            left:50%;
            color: aqua;
            background: black;
            align-items: center;
            justify-content: center;   
        }

/**** Portfolio ending ****/


/**** Aboutus beginning ****/

.aboutusheader {
    text-align: center;
    color: white;
    margin:0;
    font-size: 35px;
    cursor: pointer;
    padding: 20px;
    
}
.textaboutus {
    color:white;
    font-size: 20px;
}
#Albin {
    width: 60%;
    margin: auto;
    overflow: hidden;
    height: 500px;
    border: solid black 4px;
    color: white;
}
#firstdivalbin{
    width: 100%;
    overflow:hidden;

}
#seconddivalbin{
    width: 25%;
    float:left;
    overflow:hidden;
    
}
#albinbild {
    max-width: 100%;
}
#Dario {
    width: 60%;
    margin: auto;
    overflow: hidden;
    height: 500px;
    border: solid black 4px;
    color: white;
}
#firstdivdario{
    width: 100%;
    overflow:hidden;

}
#seconddivdario{
    width: 25%;
    float:left;
    overflow:hidden;
    
}
#dariobild {
    max-width: 100%;
}
#Muas {
    width: 60%;
    margin: auto;
    overflow: hidden;
    height: 500px;
    border: solid black 4px;
    color: white;
}
#firstdivmuas{
    width: 100%;
    overflow:hidden;

}
#seconddivmuas{
    width: 25%;
    float:left;
    overflow:hidden;
    
}
#muasbild {
    max-width: 100%;
}
h5{
    color:white;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    
}
.column1 {
    width: 100%;
    height: 600px;
    background: url(001.jpeg);
    position: relative;
    background-size: cover;
}
.column2 {
    height: 80%; 
    width: 95%; 
    margin:2vw; 
   background: rgba(204, 204, 204, 0);
    position: absolute;
    border-radius: 25px;
    display:none;
}
.menuaboutus li {
	display: inline-block;
    user-select: none;
    border-radius: 25px;
    border: 2px white;
    padding: 5px;
}
.menuaboutus li a {
	text-decoration: none;
	display: block;
	color: white;
	font-weight: lighter;
	font-size: 28px;
    padding: 0 20px;
    margin-left:auto;
    margin-right: auto;;
}
.cool-link::after {
	content: " ";
	display: block;
	width: 0;
	height: 2px;
	background: #fff;
	transition: width 0.3s;
}
.cool-link:hover::after {
	width: 100%;
	transition: width 0.3s;
}
.skillbar {
    font-family: 'Open Sans', 'sans-serif';
      position:relative;
      display:block;
      margin-bottom:15px;
      width:100%;
      background:#eee;
      height:35px;
      border-radius:3px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      -webkit-transition:0.4s linear;
      -moz-transition:0.4s linear;
      -ms-transition:0.4s linear;
      -o-transition:0.4s linear;
      transition:0.4s linear;
      -webkit-transition-property:width, background-color;
      -moz-transition-property:width, background-color;
      -ms-transition-property:width, background-color;
      -o-transition-property:width, background-color;
      transition-property:width, background-color;
  }

  .skillbar-title {
      position:absolute;
      top:0;
      left:0;
      font-weight:bold;
      font-size:13px;
      color:#fff;
      background:#6adcfa;
      -webkit-border-top-left-radius:3px;
      -webkit-border-bottom-left-radius:4px;
      -moz-border-radius-topleft:3px;
      -moz-border-radius-bottomleft:3px;
      border-top-left-radius:3px;
      border-bottom-left-radius:3px;
  }

  .skillbar-title span {
      display:block;
      background:rgba(0, 0, 0, 0.1);
      padding:0 20px;
      height:35px;
      line-height:35px;
      -webkit-border-top-left-radius:3px;
      -webkit-border-bottom-left-radius:3px;
      -moz-border-radius-topleft:3px;
      -moz-border-radius-bottomleft:3px;
      border-top-left-radius:3px;
      border-bottom-left-radius:3px;
  }
  .skillbar-bar {
      height:35px;
      width:0px;
      background:#6adcfa;
      border-radius:3px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
  }
  .skill-bar-percent {
      position:absolute;
      right:10px;
      top:0;
      font-size:11px;
      height:35px;
      line-height:35px;
      color:#444;
      color:rgba(0, 0, 0, 0.4);
  }
  #scrollUp {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
 /*   Css som skapar en flärp i bordern */
    #scrollUp span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
} 
/**** Aboutus ending ****/
/**** Contact beginning ****/
#validering {
    text-align:center;
}
.map-responsive {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.map-responsive iframe {
    position: absolute;
    width: 40%;
    height: 70%;
    top: 20%;
    left: 30%;
}
/**** Contact ending ****/
h1{
     text-align: center;
     margin: 0;
     color: white;
     padding: 20px;
}
.img2 {

    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}
.img2:hover {
   
    filter: none;
 }
@media(max-width: 768px) {
nav{
z-index: 10;
}
#Albin, #Dario, #Muas {
     height: 700px;
}
#imgGame{
        width: 50%;    
    }
    #knapp{
        height:20px; 
        width:100px; 
        margin: -20px -50px; 
        position:relative;
        top:50%; 
        left:50%;
        color: aqua;
    }
    #sectionaboutus{
        z-index: 10;
    }
    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }
    nav.black ul {
          background: #000;
    }
    .showing {
          max-height: 34em;
    }
    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 14px;
          text-align: center;
    }
    .menu-icon {
          display: block;
    }
    .column2 {
       width:90%;
    }
   .img2{
	display:none;}
.namnlista{
	display:none;
	}
	.menuabutus{
	display:none;}
}